body {      
    width: 1440px;
    height: 2831px;
    background-color: #E4D7CC;
    margin: 0;
    padding: 0;
}

/*Header*/
.site_header {
    width: 1440px;
    height: 430px;
    background-color: #A0774D;
    background-image: url(./assets/images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
}

.header_bgc {
    width: 1420px;
    height: 150px;
    position: absolute;
    top: 140px;
    left: 10px;
    background-color: #8443024D;
}

h1 {
    width: 921px;
    height: 150px;
    position: relative;
    top: 0px;
    left: 260px;
    margin: 0;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    line-height: 150px;
    color: #FFFFFF;
    position: relative;
    text-align: center;
}

/*Navigáció*/
nav {
    background-color: rgba(111, 67, 9, 0.7);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

nav a {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-decoration: none;
    color: #F9F2ED;
}

a:hover {
    color:#25160b;
    background-color: rgba(241, 181, 102, 0.3);
    border: 0px solid rgba(241, 181, 102, 0.3);
    border-radius: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-menu li {
    position: relative;
    display: inline-block;
    width: 300px;
}

.main-menu li a {
    display: block;
    padding: 20px;
}

.sub-menu {
    position: absolute;
    top: 91px;
    left: 0;
    background-color: rgba(111, 67, 9, 0.7);
    display: none;
    width: 100%;
}

.sub-menu li {
    position: relative;
    display: block;
}

.main-menu li:hover .sub-menu {
    display: block;
    width: 300px;
    border: 0px solid rgba(111, 67, 9, 0.7);
    border-radius: 0px 0px 14px 14px;
}

/*Első rész:Legnépszerűbb ízek*/
main {
    padding-top: 0;
}

.section2 {
    height: 735px;
    position: relative;
    top: 0px;
}

.first_h2 {
    width: 362px;
    height: 47px;
    top: 207px; /*735px ami az első rész magassága - 528px ami a h2 távolsága az oldal tetejéről*/
    left: 70px;
    text-align: left;
    color: #523923;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 46.88px; 
    position: absolute;  
}

.box {
    width: 300px;
    height: 400px;
    top: 443px; /*650px ami az összes doboz távolsága az oldal tetejétől - a dobozok feletti h2 magassága az oldal tetejétől*/
    border-radius: 8px;
    background-color: #F9F2ED;
    box-shadow: 10px 10px 20px 0px #0000001A;
    position: absolute;
}

.first {
    left: 76px;
}

.second {
    left: 406px
}

.third {
    left: 736px
}

.fourth {
    left: 1066px
}

/*Második rész:Visszajelzések*/
.feedback_section {
    width: 1440px;
    height: 1381px;
    top: 305px; /*735px az előző rész magassága - 430px ami a header magassága*/
    background-color: #82786F;
    position: relative;
}

.second_h2 {
    width: 362px;
    height: 47px;
    top: 53px;
    left: 70px;
    font-size: 40px;
    line-height: 46.88px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    position: relative;
}

.first_text {
    width: 543px;
    height: 417px;
    top: 198px; /*visszajelzések rész margin-top 1165px - felső szövegdoboz margin-top 1363px*/
    left: 70px;
    text-align: justify;
    position: absolute;
}

.second_text {
    width: 538px;
    height: 321px;
    top: 802px; /*visszajelzések rész margin-top 1165px - alsó szövegdoboz margin-top 1967px*/
    left: 827px;
    text-align: justify;
    position: absolute;
}

.feedback_paragraph {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
}

.feedback_span {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
    display: block;
}

.brown_box {
    width: 543px;
    height: 498px;
    top: 132px; /*visszajelzések rész margin-top 1165px - barna div margin-top 1297px*/
    left: 827px;
    background-color: #3A2719;
    background-image: url(./assets/images/pumpkin-cream-soup-bowl.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.beige_box {
    width: 543px;
    height: 498px;
    top: 735px; /*visszajelzések rész margin-top 1165px - bézs div margin-top 1900px*/
    left: 70px;
    background-color: #CEAF7B;
    background-image: url(./assets/images/meatballs-with-vegetables-tomato-sauce.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

/*Footer*/
footer {
    width: 1440px;
    height: 285px;
    top: 305px; /*második rész távolsága az oldal tetejétől*/
    background-color: #25160b;
    position: relative;
}

.last_h2 {
    width: 362px;
    height: 47px;
    top: 46px;
    left: 70px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: 46.88px;
    text-align: left;
    color: #FFFFFF;
    position: absolute;
}

