/*Mobil méret*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #E4D7CC;
    display: grid;
    grid:
        "header-area" 15%
        "nav-area" 70px
        "main-area" 1fr
        "footer-area" 10%
        / 1fr
    ;
}

/*Header*/
.site_header {
    grid-area: header-area;
    background-color: #A0774D;
    background-image: url(./assets/images/pexels-quark-studio-1159039-3201921.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.header_bgc {
    width: 100%;
    height: 100%;
    background-color: #c4772978;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    line-height: 150px;
    color: #FFFFFF;
    text-align: center;
}

/*Navigáció*/

body nav {
    grid-area: nav-area;
    background-color: #25160b;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-decoration: none;
    color: #F9F2ED;
    display: block;
    padding: 10px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.arrow {
    padding-left: 5px;
}

li:hover {
    color:#25160b;
    background-color: rgba(241, 181, 102, 0.3);
}

.active {
    color:#926647;
}

.toggle-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    padding-left: 20px;
}

/*Normál menü*/

.main-menu {
    display: none;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.main-menu li {
    position: relative;
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgba(111, 67, 9, 0.7);
    width: 100%;
    border-radius: 0px 0px 14px 14px;
    margin: 0;
    padding: 0;
    display: none;
}

.sub-menu li {
    position: relative;
    display: block;
}

.sub-menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-menu li:last-child a:hover {
    background-color: rgba(241, 181, 102, 0.3);
    border-radius: 0px 0px 14px 14px;
}

.sub-sub-menu {
    position: absolute;
    top: 0;
    left: 300px;
    background-color: rgba(111, 67, 9, 0.7);
    width: 100%;
    border-radius: 0px 14px 14px 0px;
    margin: 0;
    padding: 0;
}

.sub-sub-menu li {
    position: relative;
    display: block;
}

.sub-sub-menu li:first-child a:hover {
    border-radius: 0px 14px 0px 0px;
}

.sub-sub-menu li:last-child a:hover {
    border-radius: 0px 0px 14px 0px;
}

/*Mobil menü*/
.dropdown-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: auto;
    background: rgba(92, 53, 10, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 14px;
    overflow: hidden;
    padding: 0;
}

.open {
    display: block;
}

.dropdown-menu li {
    padding: 0;
    height: auto;
    width: 100%;
    display: block;
    text-align: center;
}

.dropdown-menu li:hover {
    background-color: rgba(241, 181, 102, 0.3);
}

.dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 1rem;
    text-align: center;
}
.dropdown-sub-menu,
.dropdown-sub-sub-menu {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
}

.dropdown-sub-sub-menu {
    position: static;
    width: 100%;
    background: rgba(92, 53, 10, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 0;
    display: block;
}

/*Első rész:Legnépszerűbb ízek*/
main {
    padding: 0;
    margin: 0;
    grid-area: main-area;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section2 {
    margin: 0;
    flex: 1;
    grid-area: flavors-area;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.first_h2 {
    color: #523923;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 46.88px;
    padding-left: 10%;
    padding-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    column-gap: 0;
}

.box {
    width: 70%;
    height: 100px;
    border-radius: 8px;
    background-color: #F9F2ED;
    box-shadow: 10px 10px 20px 0px #0000001A;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-position {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#first {
    background-image: url(./assets/images/soup.jpg);
}

#second {
    background-image: url(./assets/images/maincourse.jpg);
}

#third {
    background-image: url(./assets/images/garnishes.jpg);
}

#fourth {
    background-image: url(./assets/images/salads.jpg);
}

#fifth {
    background-image: url(./assets/images/pic.jpg);
}

#sixth {
    background-image: url(./assets/images/souces.jpg);
}

#seventh {
    background-image: url(./assets/images/desserts.jpg);
}

#eight {
    background-image: url(./assets/images/bowls.jpg);
}

.section2 .box h3 {
    display: block;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    background-color: #9c7d6279;
}

/*Második rész:Visszajelzések*/
.feedback_section {
    flex: 1;
    background-color: #82786F;
    padding-top: 50px;
    padding-bottom: 50px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.second_h2 {
    font-size: 1.5rem;
    line-height: 46.88px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    padding-left: 10%;
    padding-bottom: 50px;
}

.feedback-text {
    width: 80%;
    height: auto;
    justify-self: center;
    text-align: justify;
    align-self: flex-start;
}

.feedback_paragraph {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
}

.feedback_span {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
}

.feedback_box {
    width: 80%;
    height: 20rem;
    justify-self: center;
}

.brown_box {
    background-color: #3A2719;
    background-image: url(./assets/images/board-3700116_640.jpg);
}

.beige_box {
    background-color: #CEAF7B;
    background-image: url(./assets/images/balloon-1014411_640.jpg);
}

/*Footer*/
footer {
    grid-area: footer-area;
    background-color: #25160b;
}

.last_h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 46.88px;
    text-align: left;
    color: #FFFFFF;
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and  (min-width: 576px) { 
    .grid-container, .grid-container2 {
        grid-template-columns: 1fr;
    }
} 

@media screen and (min-width:768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .feedback-text, .feedback_box {
        width: 60%;
    }
    .box {
        height: 150px;
    }
} 

@media screen and (min-width: 992px) {

    body {
        grid:
        "header-area" 12%
        "nav-area" 70px
        "main-area" 1fr
        "footer-area" 8%
        / 1fr
    ;
    }
    .feedback-text, .feedback_box {
        width: 70%;
    }
    .box {
        height: 150px;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    }

    .grid-container2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
    }
    .feedback_box {
        justify-self: center;
        align-self: center;
    }
} 

@media screen and (min-width: 1200px) {
    .toggle-btn {
        display: none;
    }
    .main-menu {
        display: flex;
    }
    .main-menu li {
        width: 200px;
    }
    .sub-sub-menu {
        left: 200px;
    }
    body nav a {
        font-size: 20px;
    }
    .box {
        width: 300px;
        height: 400px;
    }
    .section2 .box h3 {
        font-size: 20px;
        height: 20%;
    }
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 30px;
    }

    .grid-container2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
    }
}