* {
    border: 0;
    margin: 0;
    padding: 0;
}
body {      
    width: 1440px;
    height: 2831px;
    background-color: #E4D7CC;
}

/*Header*/
.site_header {
    width: 1440px;
    height: 430px;
    background-color: #A0774D;
    position: absolute;
}
h1 {
    width: 921px;
    height: 150px;
    margin-top: 140px;
    margin-left: 260px;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    line-height: 150px;
    color: #FFFFFF;
    position: absolute;
    text-align: center;
}

/*Első rész:Legnépszerűbb ízek*/
.first_h2 {
    width: 362px;
    height: 47px;
    margin-top: 528px;
    margin-left: 70px;
    text-align: left;
    color: #523923;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 46.88px; 
    position: absolute;  
}
.box {
    width: 300px;
    height: 400px;
    margin-top: 650px;
    border-radius: 8px;
    background-color: #F9F2ED;
    box-shadow: 10px 10px 20px 0px #0000001A;
    position: absolute;
}
.first {
    margin-left: 76px;
}
.second {
    margin-left: 406px
}
.third {
    margin-left: 736px
}
.fourth {
    margin-left: 1066px
}

/*Második rész:Visszajelzések*/
.visszajelzesek_resz {
    width: 1440px;
    height: 1381px;
    margin-top: 1165px;
    background-color: #82786F;
    position: absolute;
}
.second_h2 {
    width: 362px;
    height: 47px;
    margin-top: 53px;
    margin-left: 70px;
    font-size: 40px;
    line-height: 46.88px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    position: absolute;
}
.first_text {
    width: 543px;
    height: 417px;
    margin-top: 198px; /*visszajelzések rész margin-top 1165px - felső szövegdoboz margin-top 1363px*/
    margin-left: 70px;
    text-align: justify;
    position: absolute;
}
.second_text {
    width: 538px;
    height: 321px;
    margin-top: 802px; /*visszajelzések rész margin-top 1165px - alsó szövegdoboz margin-top 1967px*/
    margin-left: 827px;
    text-align: justify;
    position: absolute;
}
.visszajelzesek_paragraph {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
}
.visszajelzesek_span {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
    display: block;
}
.brown_box {
    width: 543px;
    height: 498px;
    margin-top: 132px; /*visszajelzések rész margin-top 1165px - barna div margin-top 1297px*/
    margin-left: 827px;
    background-color: #3A2719;
    position: absolute;
}
.beige_box {
    width: 543px;
    height: 498px;
    margin-top: 735px; /*visszajelzések rész margin-top 1165px - bézs div margin-top 1900px*/
    margin-left: 70px;
    background-color: #CEAF7B;
    position: absolute;
}

/*Footer*/
footer {
    width: 1440px;
    height: 285px;
    margin-top: 2546px;
    background-color: #25160B;
    position: absolute;
}
.last_h2 {
    width: 362px;
    height: 47px;
    margin-top: 46px;
    margin-left: 70px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: 46.88px;
    text-align: left;
    color: #FFFFFF;
    position: absolute;
}

