body {      
    background-color: #E4D7CC;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
        "header-area"
        "nav-area"
        "main-area"
        "footer-area";
    grid-template-rows: 50% 70px 1fr 30%;
    height: 100vh;
}

/*Header*/
.site_header {
    grid-area: header-area;
    background-color: #A0774D;
    background-image: url(./assets/images/pexels-quark-studio-1159039-3201921.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_bgc {
    width: 100%;
    height: 100%;  
    background-color: #c4772978;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    line-height: 150px;
    color: #FFFFFF;
    text-align: center;
}

/*Navigáció*/
nav {
    grid-area: nav-area;
    background-color: rgba(111, 67, 9, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-decoration: none;
    color: #F9F2ED;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

a:hover {
    color:#25160b;
    background-color: rgba(241, 181, 102, 0.3);
}

.sub-menu li:last-child a:hover {
    background-color: rgba(241, 181, 102, 0.3);
    border-radius: 0px 0px 14px 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    height: 70px;
    background-color: rgba(111, 67, 9, 0.7);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a:hover {
    color:#25160b;
    background-color: rgba(241, 181, 102, 0.3);
}

.sub-menu li:last-child a:hover {
    background-color: rgba(241, 181, 102, 0.3);
    border-radius: 0px 0px 14px 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main-menu li {
    position: relative;
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.main-menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%; 
}

.sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgba(111, 67, 9, 0.7);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.sub-menu li {
    position: relative;
    display: block;
} 

.main-menu li:hover .sub-menu {
    width: 300px;
    height: auto;
    text-align: center;
    border: 0px solid rgba(111, 67, 9, 0.7);
    border-radius: 0px 0px 14px 14px;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s; 
} 

.sub-sub-menu {
    position: absolute;
    top: 0;
    left: 300px;
    background-color: rgba(111, 67, 9, 0.7);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.sub-sub-menu li {
    position: relative;
    display: block;
}

.sub-menu li:hover .sub-sub-menu {
    width: 300px;
    height: auto;
    text-align: center;
    border: 0px solid rgba(111, 67, 9, 0.7);
    border-radius: 0px 14px 14px 0px;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.sub-sub-menu li:first-child a:hover {
    background-color: rgba(241, 181, 102, 0.3);
    border-radius: 0px 14px 0px 0px;
}

.sub-sub-menu li:last-child a:hover {
    background-color: rgba(241, 181, 102, 0.3);
    border-radius: 0px 0px 14px 0px;
}

/*Első rész:Legnépszerűbb ízek*/
main {
    padding: 0;
    margin: 0;
    grid-area: main-area;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section2 {
    flex: 1;
    grid-area: flavors-area;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.first_h2 {
    color: #523923;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 46.88px; 
    margin-left: 10%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.box {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    background-color: #F9F2ED;
    box-shadow: 10px 10px 20px 0px #0000001A;
}

.first {
    background-image: url(./assets/images/soup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.second {
    background-image: url(./assets/images/maincourse.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.third {
    background-image: url(./assets/images/garnishes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fourth {
    background-image: url(./assets/images/salads.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fifth {
    background-image: url(./assets/images/pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sixth {
    background-image: url(./assets/images/souces.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seventh {
    background-image: url(./assets/images/desserts.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.eighth {
    background-image: url(./assets/images/bowls.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2 div h3 {
    font-size: 30px;
    line-height: 46.88px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    background-color: #9c7d6279;;
}

/*Második rész:Visszajelzések*/
.feedback_section {
    flex: 1;
    background-color: #82786F;
    padding-bottom: 50px;
}

.flex-container2 {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
    gap: 30px; 
}

.second_h2 {
    font-size: 40px;
    line-height: 46.88px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    margin-left: 10%;
}

.feedback-text {
    width: 538px;
    height: 321px;
    text-align: justify; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.feedback_paragraph {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
}

.feedback_span {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
}

.brown_box {
    width: 543px;
    height: 498px;
    background-color: #3A2719;
    background-image: url(./assets/images/pumpkin-cream-soup-bowl.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.beige_box {
    width: 543px;
    height: 498px;
    background-color: #CEAF7B;
    background-image: url(./assets/images/meatballs-with-vegetables-tomato-sauce.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;

}

/*Footer*/
footer {
    grid-area: footer-area;
    background-color: #25160b;
}

.last_h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: 46.88px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 10%;
}

